<header id="application_Header">
<!--must be 100-->
	<div class="fix_header_size_20">
		<h1>Example Jelly</h1>
	</div>
	<div id="app_navigation" class="fix_header_size_50">
		<ul>
			<li><%= link_to "home", user_path %></li>
			<li><%= link_to "location", user_path %></li>
			<li><%= link_to "food", user_path %></li>
			<li><%= link_to "users", user_path %></li>
			<li><%= link_to "config", user_path %></li>
		</ul>
	</div>
	<div class="fix_header_size_20">
		<p><%= @user.name.downcase %><span> logged in as </span><%= @user.role.downcase %></p>
	</div>
	<div class="fix_header_size_10">
		<p><%= link_to "log out", logout_path %></p>
	</div>
</header>