<!DOCTYPE html>
<html>
<head>
  <title>ExampleJelly: Welcome</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= render "layouts/application_footer" %>
</body>
</html>
